body {
  /* Same as card */
  background: #e0e0e0;
}

.container {
  max-width: 100%;
  height: 100vh;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 600px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  font-size: 18px;
}

.card__body {
  padding: 20px;
}

.card h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.neo {
  /* Generated Neomorphism */
}
