body {
  background-color: #9390ff;
  color: #fff;
}

svg {
  width: 500px;
}

.text {
  font-size: 21px;
  position: absolute;
  top: 200px;
  left: 135px;
}

.text h1 {
  font-size: 60px;
}

img {
  position: absolute;
  width: 300px;
  top: 300px;
  left: 300px;
}
